p > label {
  display: block;
}
body {
  background-color: #171e2f;
  padding: 3rem;
  color: #EAEAEA;
  font-size: 16px;
  line-height: 1.8rem;
}

header img {
  width: 300px;
}
header h2 {
  font-weight: 500;
}

.container {
  margin-top: 2rem;
}

.form {
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
}

.form label {
  width: 100%;
  display: block;
}

.form input {
  flex: 1;
  padding: .5rem; 
  color: #EAEAEA;
  border-radius: 4px;
  border: 1px solid #343742;
  margin-top: .5rem;
  background-color: transparent;
  font-size: 1rem;
}

.form label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #808b98;
}

#settings {
  background-color: #010306;
  border-radius: 4px;
  padding: 2rem;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

h2 {
  margin: 0 0 .5rem 0;
  font-weight: 500;
  color: #808b98;
}
.option {
  padding: .5rem 0;
  display: flex;
  align-items: center;
}

.option label, .option input {
  margin-left: .25rem;
}

label span {
  font-size: 1rem;
}

.option input{
  color: #EAEAEA;
  font-size: 1rem;
}

.btn {
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  color: #EAEAEA;
  padding: .5rem .8rem;
  font-size: 1rem;
}

.btn-primary {
  background-color: #FF07AA;
}

.btn-primary:hover {
  background-color: #9a0e6a;
}

.controls {
  margin-top: 2rem;
}

#alternate_url {
  padding: .5rem;
  background: transparent;
  border: 1px solid #343742;
  border-radius: 4px;
  width: 50%;
  flex: 1;
}

#alternate_url:focus, #appland_url:focus {
  outline: none;
}